.SubmitBtn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: royalblue;
    color: white;
    font-weight: bolder;
    float: left;
}

.CancelBtn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    font-weight: bolder;
    float: right;
}